# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.cfg

# Distribution / packaging
.idea/
venv/
bin/
lib/
include/


# Django stuff:
*.log
*.pot
*.zip
*.rdb
*.DS_Store

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

pip-selfcheck.json
